<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BidFrenzy</title>
        <link rel="stylesheet" href="./style/style.css" />
    </head>
    <body onload="getItem()">
        <header>
            <h1>
                <a class="removeDeunderLine" href="./index.html">BidFrenzy</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="./login.html">Login/Register</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="product-grid" >
                <div class="row" id="product-layout">
                    <!-- <div class="col">
                        Product 1
                        <div class="product">
                            <img
                                src="https://f.ptcdn.info/890/056/000/p6iilgoaoA4UyWG2ain-o.jpg"
                                alt="Product Image"
                            />
                            <h2>Product Title</h2>
                            <p>Description of the product goes here.</p>
                            <p class="price">$19.99</p>
                            <p id="countdown0"></p>
                            <button>Bid</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2023 BidFrenzy By Rapeepan Moonthai & Tanawan Kumsa</p>
        </footer>
        <script src="./js/checkLoginAndLogout.js"></script>
    </body>
</html>
